<div id="intro" class="section scrollspy">
  <div class="container">
      <div class="row">
          <div  class="col s12">
              <h2 class="center header text_h2 thin">This website displays US Immigration data. </h2>
          </div>
          <br>
          <div class="row">
            <div class="col m6">
              <h3 class="center header text_h2 thin"><u class="thin">About Us</u></h3>
              <br>
              <p>
                We are a group of students at Epicodus in Portland, OR.  The project was created by Adam Zinder, Daniel Munger, Chris Clifford, and Anthony Bottemiller.  Our goal was to create a way to easily visualize the number of immigrants that have come to the United States from different countries around the world.  The dataset used here came from the US Department of Homeland Security Yearbook of Immigration Statistics. This project uses a number of technologies such as Angular2 and D3.js.  For questions about the project please contact cclifford82@gmail.com.  To view the source code visit this <a href="https://github.com/Solgo/js_immigration-data">Github Repository</a>.
              </p>
            </div>
            <div class="col m6">
              <h3 class="center header text_h2 thin"><u class="thin">About the Data</u></h3>
              <br>
              <p>
                The 2015 Yearbook of Immigration Statistics is a compendium of tables that provide data on foreign nationals who are granted lawful permanent residence (i.e., immigrants who receive a “green card”), admitted as temporary nonimmigrants, granted asylum or refugee status, or are naturalized. The Yearbook also presents data on immigration enforcement actions, including apprehensions and arrests, removals, and returns. Yearbook tables are released as they become available. A final PDF is released in September of the following fiscal year. In addition to the Yearbook, the Office of Immigration Statistics' Annual Flow Reports and Population Estimates provide text, tables, and charts on lawful permanent residents, refugees and asylees, nonimmigrant admissions, naturalizations, enforcement actions, and the unauthorized population. The Annual Flow Reports and Population Estimates have replaced the text chapters in earlier editions of the Yearbook.
              </p>
            </div>
          </div>
      </div>
  </div>
  <div class="center-align">
    <h5 class="promo-caption thin">View the source data</h5>
    <a class="btn blue" href="https://www.dhs.gov/immigration-statistics/yearbook/2015">Source</a>
  </div>
</div>
