<div class="container splash">
  <div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2 thin">This website displays US <span class="span_h2"> Immigration </span>data. </h2>
            </div>
            <br>
            <div class="row">
                <div class="center-align">
                  <h5 class="promo-caption thin">View the data visualization</h5>
                  <button class="btn green" routerLink="/map">Visualization</button>
                </div>
            </div>

            <div class="row">
              <div class="center-align">
                  <h5 class="promo-caption thin">About Us</h5>
                  <button class="btn blue" routerLink="/about">About</button>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
