/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightgrey;
}
.map-pane {
  border: 2px black solid;
}

path.country:hover {
  fill-opacity: 0.3;
}
