<a class="button home" style="color: white; margin-left: 50px" href="/">home</a>
<div class="tab-content">
	<div class="tab-pane">

		<h2>US Immigration Map</h2>
		<p class="indent">
			<em>A visualization of United States immigration numbers from 1820-2015.</em>
			<br>
			<br>
			<br>Mouse over a country to see total immigration to the United States from that country. Or change the selected year to visualize yearly totals.
		</p>
    <div class="map-pane">
      <app-d3-graph [configData]="configData"  [graphData]="geoMapDataJson" (changeCountry)="getCountryData($event)"></app-d3-graph>

			<app-bar-chart *ngIf="chartData" [data]="chartData" [countryName]="countryName"></app-bar-chart>

    </div>
	</div>
</div>
